<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzx.xdupartner.mapper.FriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qzx.xdupartner.entity.Friend">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="friend_id" property="friendId"/>
        <result column="view_range" property="viewRange"/>
        <result column="view_qq" property="viewQq"/>
        <result column="alter_name" property="alterName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , user_id, friend_id, view_range, view_qq, alter_name
    </sql>

</mapper>
